{
    "presets": [
        [
            "@babel/preset-env", {
                "targets": {
                    "chrome": "67",
                },
                "corejs": "3", // 声明 corejs 版本
                "useBuiltIns": "usage"
            }
        ],
        "@babel/preset-react"
    ],
    "plugins": ["@babel/plugin-syntax-dynamic-import"] // 此处改为 babel 官方异步加载模块插件
}